{% extends "appChernobyl/inicio.html" %}
<!--- heredo del padre --->

{% load static %}

{% block ContentThatChanges %}

<body>
    

    {% if stalkers %}

    <ul>
    {% for stalker in stalkers %}

        <li> Name:  {{stalker.name}}    </li>
        <li> Surname: {{stalker.surname}}   </li>
        <li> Faction: {{stalker.faction}}   </li>

    {% endfor %}
    

    </ul>

    {% endif %}

    <a class="btn" href="{% url 'busqueda_stalkers' %}">Search Another Stalker</a>
    <p> </p>
    <a class="btn btn-primary" href="{% url 'inicio' %}">Home Page</a>

</body>

{% endblock %}